<div class="app-container">
    <div class="left-pane">
        <div class="header">
            <div class="current-row">{{view._currentRow.idx + 1}}</div>
            <div class="side">{{view._displayedRow.side}}</div>
        </div>
        <div class="row-content card-panel" (click)="view._next()">
            {{view._displayedRow.data}}
        </div>
        <div class="footer">
            <div class="button"  [hidden]="view._displayedRow.idx == view._currentRow.idx">
                <button (click)="view._makeCurrent()" class="btn btn-primary" type="button" [hidden]="">Make current</button>
            </div>
        </div>
    </div>
    <div class="right-pane">
        <div class="navigation-pane">
            <div class="navigation-item" *ngIf="view._displayedRow.idx | showLastRow:view._rowsNo" (click)="view._select(1)">{{view._rowsNo}}</div>
            <div class="navigation-item" *ngIf="view._displayedRow.idx | showDotsUp:view._rowsNo" (click)="view._select(1)">&#8942;</div>
            <div class="navigation-item" *ngIf="view._displayedRow.idx | showNextRow:view._rowsNo" (click)="view._select(2)">{{view._displayedRow.idx + 2}}</div>
            <div class="navigation-item current">{{view._displayedRow.idx + 1}}</div>
            <div class="navigation-item" *ngIf="view._displayedRow.idx | showPrevRow" (click)="view._select(-1)">{{view._displayedRow.idx}}</div>
            <div class="navigation-item" *ngIf="view._displayedRow.idx | showDotsDown" (click)="view._select(-1)">&#8942;</div>
            <div class="navigation-item" *ngIf="view._displayedRow.idx | showFirstRow" (click)="view._select(-1)">1</div>
        </div>
    </div>
</div>
